<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <title>Просмотр накладной</title>
</head>

<body>
    <main>
        <div class="container">
            <div class="container-centered">
                <div class="mytable-for-results">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="7">
                                    <div class="label_page">
                                        Накладная
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>Дата формирования накладной</th>
                                <th>Наименование поставщика</th>
                                <th>Статус</th>
                                <th>Подтвердить накладную</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in result %}
                            <tr>
                                <td>
                                    {{ row['in_date'] }}
                                </td>
                                <td>
                                    {{ row['sh_name'] }}
                                </td>
                                <td>
                                    {{ row['status'] }}
                                </td>
                                </td>
                                <form action="{{ url_for('basket_app.check_invoices') }}" method="POST">
                                    <td class="no-padding" style="background-color: var(--register-color);">
                                        <input type="submit" value="Принять">
                                        <input type="hidden" name="code" value="{{ row['in_id'] }}">
                                    </td>
                                </form>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td class="no-padding" style="background-color: var(--register-color);">
                                    <form action="/">
                                        <input type="submit" value="Вернуться к главному меню">
                                    </form>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            {% for category, message in messages %}
            <div class="message">
                {% if category == 'okay' %}
                <div class="okay">
                    {{ message }}
                </div>
                {% endif %}
                {% if category == 'error' %}
                <div class="error">
                    {{ message }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </main>

    <div id="loading">
        <div class="spinner"></div>
    </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/static/js/pageEventHandlers.js"></script>

</html>