{% extends "base_for_search.html" %}
{% block title %}Показать{% endblock %}
{% block name_of_search %}Показать остаток на складе{% endblock %}

{% block form %}
<form action="{{ url_for('queries_app.show_balance') }}" method="POST">
    <tr>
        <td class="no-padding">
            <input type="text" name="name" placeholder="Название" autocomplete="off" required minlength="3">
        </td>
    </tr>
    <tr>
        <td style="padding: 0;">
            <input type="submit" value="Найти">
        </td>
    </tr>
</form>
{% endblock %}

{% block table_header %}
<tr>
    <th>Название заготовки</th>
    <th>Вес заготовки</th>
    <th>Количество на складе</th>
    <th>Цена за единицу</th>
    <th>Дата обновления</th>
</tr>
{% endblock %}

{% block table_body %}
{% for item in result %}
<tr>
    <td>{{ item['pr_name'] }}</td>
    <td>{{ item['pr_weight'] }}</td>
    <td>{{ item['st_amount'] }}</td>
    <td>{{ item['st_price'] }}</td>
    <td>{{ item['max'] }}</td>
</tr>
{% endfor %}
{% endblock %}